html,body{
	width: 100%;
	color: #262626;
}
body{
	position: relative;
	background: #f7f7f7;
}

header{
	width: 100%;
	height: 36px;
	background: #28B28B;
	box-sizing: border-box;
	padding: 0% 6% 0% 15%;
	position: relative;
}
ul{
	list-style: none;
}
a:hover{
	text-decoration: none;
}
header .header_logo{
	position: absolute;
	top: 0px;
	left: 5%;
	width: 100px;
}
.header_logo a{
	display: block;
}
.header_logo a i{
	width: 100%;
	height: 36px;
	display: block;
	background: url(../img/course_detail/new_logo.jpg) no-repeat center/100px auto;
}


.header_left{
	float: left;
	height: 36px;
}
.header_left>li{
	float: left;
	height: 36px;
	line-height: 36px;
	padding: 0px 24px;
}
.header_left>li:nth-of-type(1){
	position: relative;
}
.header_left>li>a{
	color: #ececec;
	font-size: 14px;
}
.header_left>li>a:hover{
	color: white;
}
.header_left>li:nth-of-type(1) .dropDown_menu{
	position: absolute;
	z-index: 2;
	display: none;
	box-shadow: 1px 1px 10px 0px #CCCCCC;
	top: 36px;
	left: 0px;
	width: 130px;
	border-radius: 4px;
	background: white;
}

.dropDown_menu li{
	text-align: center;
	float:left;
	width: 65px;
	position: relative;
	height: 22px;
	line-height: 22px;
	padding: 8px 0px;
	box-sizing: content-box;
	
}
.dropDown_menu li a{
	color: #262626;
	font-size: 14px;
}
.dropDown_menu li a:hover{
	color: #28B28B;
}
.dropDown_menu li i{
	position: absolute;
	background: #eaeaea;
	width: 1px;
	height: 10px;
	top: 14px;
	right: -1px;
	display: block;
}

.header_right{
	float: right;
	height: 36px;
	line-height: 36px;
}

.header_right>li{
	float: left;
	padding: 0px 5px;
}
.header_right>li:nth-of-type(2){
	color: white;
}
.header_right>li a{
	color: white;
	font-size: 14px;
}



/*右边侧边栏*/

aside{
	width: 50px;
	position: fixed;
	top: 20%;
	right: 5px;
	z-index: 3;
}
aside>a{
	display: block;
	width: 50px;
	height: 50px;
	background: url(../img/course/right_fixed-1.png) no-repeat center/23px auto;
	margin-top: 10px;
	border: 1px solid #F2F2F2;
	box-sizing: border-box;
	background-color: white;
	text-align: center;
	padding: 5px 5px;
	border-radius: 4px;
	position: relative;
}
aside>a:nth-of-type(2){
	background: url(../img/course/right_fixed-2.png) no-repeat center/23px auto;
	background-color: white;
}
aside>a:nth-of-type(3){
	background: url(../img/course/right_fixed-3.png) no-repeat center/23px auto;
	background-color: white;
}
aside>a:nth-of-type(4){
	background: url(../img/course/right_fixed-4.png) no-repeat center/23px auto;
	background-color: white;
}
aside>a:nth-of-type(5){
	background: url(../img/course/right_fixed-5.png) no-repeat center/21px auto;
	background-color: white;
}
aside>a:nth-of-type(6){
	display: none;
	background: url(../img/course/right_fixed-6.png) no-repeat center/23px auto;
	background-color: white;
}
aside a span{
	display: none;
	color: #9B9B9B;
	font-size: 14px;
}
aside a .right_fixed_info{
	position: absolute;
	bottom: 0px;
	right: 60px;
	width: 150px;
	height: 210px;
	background: white;
	overflow: hidden;
	box-shadow: 2px 2px 10px #CCCCCC;
	border-radius: 4px;
	display: none;
}
aside a .right_fixed_info .info_title{
	color: black;
	font-weight: blod;
	font-size: 14px;
	margin-top: 20px;
}
aside a .right_fixed_info .info_title2{
	color: #9B9B9B;
	font-size: 12px;
}
aside a .right_fixed_info .info_pic{
	width: 150px;
	height: 164px;
	background-size: 100% 100%;
	background-image:url(../img/course/weixin-2code-2.png);
  	background-repeat:no-repeat;
  	background-position:0px -24px;
  	margin-top: 5px;
}



/*section_1;*/
section .section_1{
	position: relative;
	width: 100%;
	height: 600px;
	background: url(../img/appDownload/bg-1.png) no-repeat center/auto 600px;
}
.section_1 .section_pic_1{
	position: absolute;
	/*top: 226px;*/
	top: 186px;
	left: 130px;
	width: 379px;
	height: 53px;
	background: url(../img/appDownload/title-1.png) no-repeat center/379px auto;
	opacity: 0;
	transition: all 1s;
}

.section_1 .section_pic_2{
	position: absolute;
	/*top: 318px;*/
	top: 292px;
	left: 130px;
	width: 223px;
	height: 46px;
	background: url(../img/appDownload/title-1-2.png) no-repeat center/223px auto;
	opacity: 0;
	transition: all 1s;
}

.section_1>a{
	position: absolute;
	/*top: 447px;*/
	top: 407px;
	display: inline-block;
	width: 120px;
	height: 46px;
	background-color: #28B28B;
	padding-left: 60px;
	box-sizing: content-box;
	line-height: 46px;
	border-radius: 4px;
	font-size: 20px;
	color: white;
	text-align: left;
	opacity: 0;
	transition: all 1s;
}


.section_1>a:nth-of-type(1){
	
	left: 130px;
	background: #28b28b url(../img/appDownload/iconpic-ios.png) no-repeat 35px center/22px auto;
}
.section_1>a:hover{
	opacity: 0.8;
}
.section_1>a:nth-of-type(2){
	left: 330px;
	background: #28b28b url(../img/appDownload/iconpic-android.png) no-repeat 35px center/22px auto;
}
.section_1>a:nth-of-type(3){
	width: 40px;
	height: 40px;
	/*top: 407px;*/
	left: 530px;
	padding-left: 0px;
	background: url(../img/appDownload/iconpic-2code.png) no-repeat center/40px auto;
}
.section_1>a:nth-of-type(3)>span{
	display: inline-block;
	width: 150px;
	height: 150px;
	transform: scale(0);
	position: absolute;
	bottom: -5px;
	left: -5px;
	background: url(../img/appDownload/2code.png) no-repeat center/140px auto;
	transition: all 0.2s;
}



/*3D轮播图*/
.section_2{
	width: 100%;
	height: 622px;
	padding-top: 128px;
	box-sizing: content-box;
	background: white url(../img/appDownload/bg-2.jpg) no-repeat center bottom/auto 626px;
}

.section_2_content{
	width: 1200px;
	margin: 0px auto;
	position: relative;
}
.section_2_content .section_maintitle{
	width: 395px;
	height: 38px;
	margin: 0px auto;
	background: url(../img/appDownload/title-2.png) no-repeat center/auto 38px;
}
.section_subtitle{
	margin-top: 20px;
	font-size: 20px;
	color: #60736E;
	line-height: 26px;
	text-align: center;
}
.section_2_content .certify{
	margin-top: 100px;
	position: relative;
}

.section_2_content .certify .certify_container{
	padding-bottom: 60px;
	width: 100%;
	height: 327px;
	position: absolute;
	/*overflow: hidden;*/
}


.certify_container ul{
	width: 4875px;
	list-style: none;
	position: absolute;
	/*left: 1300px;*/
	left: 0px;
	transition:all 1s;
}
.certify_container ul>li{
	float: left;
	width: 325px;
	height: 267px;
	background: white;
	box-shadow: 0px 8px 30px #DDDDDD;
	position: absolute;
	transition: all 0.35s;
	opacity: 0;
}
.banner_3d_1{
	left: -102px !important;
	z-index: 0 !important;
	opacity: 0 !important;
}
.banner_3d_2{
	/*left: -383px;*/
	left: -58px !important;
	z-index: 1 !important;
	opacity: 1 !important;
}
.banner_3d_3{
	/*left: -605px;*/
	left: 46px !important;
	z-index: 2 !important;
	opacity: 1 !important;
}
.banner_3d_4{
	/*left: -764px;*/
	left: 212px !important;
	z-index: 3 !important;
	opacity: 1 !important;
}
.banner_3d_5{
	/*left: -864px;*/
	left: 437px !important;
	z-index: 4 !important;
	opacity: 1 !important;
}
.banner_3d_6{
	/*left: -963px;*/
	left: 662px !important;
	z-index: 3 !important;
	opacity: 1 !important;
}
.banner_3d_7{
	/*left: -1124px;*/
	left: 828px !important;
	z-index: 2 !important;
	opacity: 1 !important;
}
.banner_3d_8{
	/*left: -1344px;*/
	left: 933px !important;
	z-index: 1 !important;
	opacity: 1 !important;
}
.banner_3d_9{
	/*left: -1623px;*/
	left: 977px !important;
	z-index: 0 !important;
	opacity: 0 !important;
}

.certify_container ul>li .certify_img_box{
	width: 325px;
	height: 183px;
	overflow: hidden;
	
}
.certify_container ul>li .certify_img_box img{
	width: 100%;
	vertical-align: top;
	transition: all 0.35s; 
}

.certify_container ul>li .certify_text_box{
	padding: 15px 20px 15px;
}

.certify_text_box .certify_detail_title{
	font-size: 17.6px;
	line-height: 25px;
	padding-top: 0px;
	color: #4A4A4A;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.certify_text_box .certify_detail_data{
	font-size: 15px;
	color: #9B9B9B;
	line-height: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}


/*平滑轮播图*/
.section_3{
	width: 100%;
	height: 572px;
	padding-top: 128px;
	box-sizing: content-box;
	background: #F2F2F2 url(../img/appDownload/bg-3.png) no-repeat center/auto 700px;
}

.section_3 .section_maintitle{
	width: 437px;
	height: 38px;
	margin: 0px auto;
	background: url(../img/appDownload/title-3.png) no-repeat center/auto 37px;
}


.section_teacher{
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	height: 290px;
}
.section_teacher .show_img_div{
	width: 100%;
	height: 290px;
	position: relative;
	overflow: hidden;
}
.show_img_div ul{
	width: 10000px;
	list-style: none;
	position: absolute;
	left: -2460px;
	transition: all 0.35s;
}
.show_img_div ul li{
	float: left;
	width: 216px;
	height: 290px;
	border-radius: 4px;
	margin-right: 30px;
	position: relative;
	overflow: hidden;
}

.show_img_div ul li>img{
	width: 100%;
	transition: all 0.4s;
}
.section3_text_box{
	width: 180px;
	position: absolute;
	left: 18px;
	bottom: -30px;
	color: white;
	text-align: center;
	opacity: 0;
	transition: all 0.35s;
}

.section3_text_box .img_detail_title{
	width: 100%;
	font-size: 22px;
	color: white;
	line-height: 30px;
}
.section3_text_box .img_detail_data{
	width: 100%;
	height: 36px;
	font-size: 12px;
	margin-top: 12px;
	color: #F7F7F7;
	line-height: 18px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.section3_text_box .img_detail_title i{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: url(../img/appDownload/iconpic-zcoolicon.jpg) no-repeat center/20px auto;
	vertical-align: middle;
}



/*热门评论*/
.section_4{
	width: 100%;
	height: 772px;
	padding-top: 128px;
	background: white;
	box-sizing: content-box;
}

.section_4 .section_4_content{
	width: 1200px;
	margin: 0px auto;
	position: relative;
}
.section_4 .section_maintitle{
	width: 415px;
	height: 34px;
	margin: 0px auto;
	background: url(../img/appDownload/title-4.png) no-repeat center/auto 34px;
}
.hot_comment{
	position: relative;
	width: 100%;
	height: 506px;
	border-radius: 28px;
	background: white;
	box-shadow: 0px 2px 60px 0px rgba(108,145,135,0.14);
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 205px;
	padding-right: 183px;
	margin-top: 60px;
}
.hot_comment .section_bg_left{
	position: absolute;
	left: 40px;
	top: 48px;
	width: 74px;
	height: 342px;
	background: url(../img/appDownload/bg-left.png) no-repeat center/74px auto;
	
}


.hot_comment .section_bg_right{
	position: absolute;
	right: 28px;
	top: 118px;
	width: 118px;
	height: 325px;
	background: url(../img/appDownload/bg-right.png) no-repeat center/118px auto;
	
}
.hot_comment .student_comment{
	width: 100%;
	height: 306px;
	overflow: hidden;
	/*background: silver;*/
}


.student_comment .comment_box1 ul:nth-of-type(2){
	display: none;
}
.student_comment .comment_box1 ul:nth-of-type(3){
	display: none;
}

.student_comment .comment_box1 ul li{
	padding-left: 62px;
	margin-bottom: 40px;
	position: relative;
	opacity: 1;
}


.student_comment .comment_box1 ul li:last-child{
	margin-bottom: 0px;
}
.comment_box1 ul li .comment_pic_box{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.comment_box1 ul li .comment_pic_box img{
	width: 48px;
	height: 48px;
}
.comment_box1 ul li .comment_text_box .detail_title{
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	padding-top: 4px;
}
.comment_text_box .detail_title span{
	vertical-align: middle;
	margin-right: 20px;
}
.comment_text_box .detail_title>i{
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 14px;
	background: url(../img/appDownload/iconpic-zuobiao.png) no-repeat center/12px auto;
}

.comment_text_box .detail_data{
	font-size: 14px;
	color: #666666;
	margin-top: 10px;
	line-height: 20px;
	height: 40px;
	overflow: hidden;
	text-overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}


/*扫码下载*/
.section_5{
	width: 100%;
	height: 535px;
	background: url(../img/appDownload/bg-5.png) no-repeat center/auto 535px;
}





















/*底部*/
footer{
	width: 100%;
	height: 248px;
	background: #282828;
	margin-top: 0px;
}

footer .footer_center{
	width: 1200px;
	height: 239px;
	margin: 0px auto;
}
footer .footer_center .center_top{
	padding: 25px 0px;
}


/*关于我们的ul*/
.center_top .footer_nav{
	list-style: none;
	margin-bottom: 0px;
	width: 200px;
	float: left;
}

.center_top .footer_nav>li{
	width: 100px;
	height: 20px;
	float: left;
	margin-bottom: 8px;
}
.center_top .footer_nav>li>a{
	color: #9B9B9B;
}
.center_top .footer_nav>li>a:hover{
	text-decoration: underline;
}

/*关注的ul*/
.center_top .guanzhu{
	list-style: none;
	margin-bottom: 0px;
	margin-left: 305px;
	float: left;
}
.center_top .guanzhu>li{
	float: left;
	width: 24px;
	height: 24px;
	text-align: center;
	margin-right: 10px;
	position: relative;
	
}
.center_top .guanzhu>li:nth-of-type(1)>a>i{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../img/course_detail/iconpic-footer-gogoup.png) no-repeat center/13px auto;
}

.center_top .guanzhu>li:nth-of-type(1)>a>span{
	width: 124px;
	height: 142px;
	display: none;
	background: url(../img/course_detail/gogoup-2code3.png) no-repeat center/124px auto;
	position: absolute;
	bottom: 30px;
	left: -55px;
}
.center_top .guanzhu>li:nth-of-type(1):hover a>span{
	display: inline-block;
}
.center_top .guanzhu>li:nth-of-type(1):hover a>i{
	background: url(../img/course_detail/iconpic-footer-gogoup-hover.png) no-repeat center/13px auto;
}

.center_top .guanzhu>li:nth-of-type(3)>a>i{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../img/course_detail/iconpic-footer-weixin.png) no-repeat center/24px auto;
}

.center_top .guanzhu>li:nth-of-type(3)>a>span{
	width: 124px;
	height: 142px;
	display: none;
	background: url(../img/course_detail/weixin-2code-2.png) no-repeat center/124px auto;
	position: absolute;
	bottom: 30px;
	left: -55px;
}

.center_top .guanzhu>li:nth-of-type(3):hover a>span{
	display: inline-block;
}
.center_top .guanzhu>li:nth-of-type(3):hover a>i{
	background: url(../img/course_detail/iconpic-footer-weixin-hover.png) no-repeat center/24px auto;
}
.center_top .guanzhu>li:nth-of-type(5)>a>i{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../img/course_detail/iconpic-footer-weibo.png) no-repeat center/24px auto;
}

.center_top .guanzhu>li:nth-of-type(5):hover a>i{
	background: url(../img/course_detail/iconpic-footer-weibo-hover.png) no-repeat center/24px auto;
}
.center_top .guanzhu>.footer_line{
	width: 0px;
	height: 14px;
	border-left: 1px solid #3C3C3C;
	margin-top: 5px;
	margin-right: 10px;
}


/*联系的ul*/
.center_top .footer_contact{
	float: right;
	list-style: none;
	margin-bottom: 0px;
	width: 230px;
}
.footer_contact>li{
	height: 20px;
	line-height: 20px;
	margin-bottom: 8px;
	font-size: 14px;
	color: #9B9B9B;
}
.footer_contact>li:nth-of-type(2) span:first-child{
	float: left;
}
.footer_contact>li:nth-of-type(2) span:last-child{
	float: right;
}

.footer_contact>li:nth-of-type(3) a{
	float: left;
	color: #9B9B9B;
}
.footer_contact>li:nth-of-type(3) a:hover{
	text-decoration: underline;
}
.footer_contact>li:nth-of-type(3) span{
	float: right;
}




footer .footer_center .center_bottom{
	padding: 18px 0px;
	border-top: 1px solid #424242;
	font-size: 12px;
	color: #686869;
}
.footer_bottom_left{
	float: left;
}

.footer_bottom_left .footer_one>a{
	margin-right: 20px;
	color: #686969;
}
.footer_bottom_left .footer_one>a:hover{
	color: #28B28B;
}
.footer_bottom_left .footer_one>a>img{
	width: 12px;
	position: relative;
	top: -2px;
}
.footer_bottom_left .footer_one>span{
	margin-right: 20px;
	color: #686969;
}

.footer_bottom_left .footer_two{
	margin-top: 12px;
}
.footer_bottom_left .footer_two>span{
	margin-right: 20px;
	color: #686969;
}
.footer_bottom_right{
	float: right;
}




@media (max-width:980px) {
	.header_right{
		display: none;
	}
	header{
		padding: 0% 6% 0% 25%;
	}
}

@media (max-width:1280px) {
	aside{
		display: none;
	}
}