*{
	margin: 0px;
	padding: 0px;
}
html,body{
	width: 100%;
	color: #262626;
}
body{
	position: relative;
	background: #f7f7f7;
}

header{
	width: 100%;
	height: 36px;
	background: #28B28B;
	box-sizing: border-box;
	padding: 0% 6% 0% 15%;
	position: relative;
}
ul{
	list-style: none;
}
a:hover{
	text-decoration: none;
}
header .header_logo{
	position: absolute;
	top: 0px;
	left: 5%;
	width: 100px;
}
.header_logo a{
	display: block;
}
.header_logo a i{
	width: 100%;
	height: 36px;
	display: block;
	background: url(../img/course_detail/new_logo.jpg) no-repeat center/100px auto;
}


.header_left{
	float: left;
	height: 36px;
}
.header_left>li{
	float: left;
	height: 36px;
	line-height: 36px;
	padding: 0px 24px;
}
.header_left>li:nth-of-type(1){
	position: relative;
}
.header_left>li>a{
	color: #ececec;
	font-size: 14px;
}
.header_left>li>a:hover{
	color: white;
}
.header_left>li:nth-of-type(1) .dropDown_menu{
	position: absolute;
	z-index: 2;
	display: none;
	box-shadow: 1px 1px 10px 0px #CCCCCC;
	top: 36px;
	left: 0px;
	width: 130px;
	border-radius: 4px;
	background: white;
}

.dropDown_menu li{
	text-align: center;
	float:left;
	width: 65px;
	position: relative;
	height: 22px;
	line-height: 22px;
	padding: 8px 0px;
	box-sizing: content-box;
	
}
.dropDown_menu li a{
	color: #262626;
	font-size: 14px;
}
.dropDown_menu li a:hover{
	color: #28B28B;
}
.dropDown_menu li i{
	position: absolute;
	background: #eaeaea;
	width: 1px;
	height: 10px;
	top: 14px;
	right: -1px;
	display: block;
}

.header_right{
	float: right;
	height: 36px;
	line-height: 36px;
}

.header_right>li{
	float: left;
	padding: 0px 5px;
}
.header_right>li:nth-of-type(2){
	color: white;
}
.header_right>li a{
	color: white;
	font-size: 14px;
}


aside{
	width: 50px;
	position: fixed;
	top: 20%;
	right: 5px;
	z-index: 3;
}
aside>a{
	display: block;
	width: 50px;
	height: 50px;
	background: url(../img/course/right_fixed-1.png) no-repeat center/23px auto;
	margin-top: 10px;
	border: 1px solid #F2F2F2;
	box-sizing: border-box;
	background-color: white;
	text-align: center;
	padding: 5px 5px;
	border-radius: 4px;
	position: relative;
}
aside>a:nth-of-type(2){
	background: url(../img/course/right_fixed-2.png) no-repeat center/23px auto;
	background-color: white;
}
aside>a:nth-of-type(3){
	background: url(../img/course/right_fixed-3.png) no-repeat center/23px auto;
	background-color: white;
}
aside>a:nth-of-type(4){
	background: url(../img/course/right_fixed-4.png) no-repeat center/23px auto;
	background-color: white;
}
aside>a:nth-of-type(5){
	background: url(../img/course/right_fixed-5.png) no-repeat center/21px auto;
	background-color: white;
}
aside>a:nth-of-type(6){
	display: none;
	background: url(../img/course/right_fixed-6.png) no-repeat center/23px auto;
	background-color: white;
}
aside a span{
	display: none;
	color: #9B9B9B;
	font-size: 14px;
}
aside a .right_fixed_info{
	position: absolute;
	bottom: 0px;
	right: 60px;
	width: 150px;
	height: 210px;
	background: white;
	overflow: hidden;
	box-shadow: 2px 2px 10px #CCCCCC;
	border-radius: 4px;
	display: none;
}
aside a .right_fixed_info .info_title{
	color: black;
	font-weight: blod;
	font-size: 14px;
	margin-top: 20px;
}
aside a .right_fixed_info .info_title2{
	color: #9B9B9B;
	font-size: 12px;
}
aside a .right_fixed_info .info_pic{
	width: 150px;
	height: 164px;
	background-size: 100% 100%;
	background-image:url(../img/course/weixin-2code-2.png);
  	background-repeat:no-repeat;
  	background-position:0px -24px;
  	margin-top: 5px;
}

.video_play{
	width: 100%;
	height: 502px;
	background: #303332;
	padding: 30px 0px 10px;
}
.video_play .center_box{
	width: 1200px;
	height: 100%;
	margin: 0px auto;
	background: pink;
}
.video_play .center_box .left_box{
	width: 740px;
	height: 100%;
	background: #3c3c3c;
	float: left;
	position: relative;
}
.video_play .center_box .right_box{
	width: 460px;
	height: 100%;
	background: #3c3c3c;
	float: left;
}
.left_box video{
	width: 100%;
	vertical-align: top;
}
.left_box .video_comment_bar{
	width: 100%;
	height: 46px;
	padding: 9px 25px;
	box-sizing: border-box;
	line-height: 28px;
}
.left_box .btn_paly{
	position: absolute;
	width: 60px;
	height: 60px;
	top: 50%;
	left: 50%;
	margin-top: -53px;
	margin-left: -30px;
	/*background: white;*/
}
.left_box .btn_paly span{
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../img/course_detail/play.png) no-repeat center/30px auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -15px;
	margin-left: -15px;
	z-index: 2;
}

.video_comment_bar .video_share{
	float: right;
	position: relative;
}
.video_share span{
	color: #b6b6b6;
	font-size: 14px;
}
.video_share>i{
	display: inline-block;
	position: relative;
	top: 5px;
	left: 5px;
	width: 22px;
	height: 22px;
	background: url(../img/course_detail/iconpic-share2.png) no-repeat center/22px auto;
}
/*.video_share>i:hover .video_share .share_box{
	display: inline-block;
}*/
.video_share .big_box{
	display: none;
	width: 138px;
	height: 60px;
	position: absolute;
	right: -16px;
	bottom: 25px;
}
.video_share .big_box .share_box{
	
	
	width: 108px;
	height: 24px;
	padding: 10px 15px;
	box-sizing: content-box;
	background: white;
	border-radius: 5px;
	line-height: 24px;
}
.video_share .big_box .share_box a{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 20px;
	margin-top: 2px;
}
.video_share .big_box .share_box a:nth-of-type(1){
	background: url(../img/course_detail/weixin_share.png) no-repeat;
	background-size: 100% 100%;
	background-position: 2px 2px;
}
.video_share .big_box .share_box a:nth-of-type(2){
	background: url(../img/course_detail/qq_share.png) no-repeat;
	background-size: 100% 100%;
	background-position: 2px 2px;
}

.video_share .big_box .share_box a:nth-of-type(3){
	margin-right: 0px;
	background: url(../img/course_detail/weibo_share.png) no-repeat;
	background-size: 100% 100%;
	background-position: 2px 2px;
}
.video_share .big_box .share_box>i{
	position: absolute;
	background: url(../img/course_detail/menu_dropdown-arrow.png);
	width: 12px;
	height: 7px;
	bottom: 9px;
	left: 112px;
}

.video_play .center_box .right_box{
	padding-top: 10px;
}

.right_box .right_box-top{
	width: 460px;
	height: 200px;
}
.right_box-top .video_title{
	width: 460px;
	height: 33px;
	line-height: 33px;
	font-size: 20px;
	color: white;
	position: relative;
}
.right_box-top .video_title p{
	float: left;
	height: 33px;
	margin-bottom: 0px;
	line-height: 33px;
	margin-left: 24px;
}
.right_box-top .video_title>span{
	color: #F7573D;
	position: absolute;
	right: 70px;
}
.right_box-top .video_title>i{
	display: inline-block;
	width: 38px;
	height: 26px;
	position: absolute;
	right: 22px;
	background: url(../img/course_detail/love.png) no-repeat center/38px auto;
}
.right_box-top .video_title>i:hover{
	opacity: 0.7;
}
.right_box-top .video_data{
	width: 460px;
	height: 50px;
	padding: 0px 24px;
}
.video_data p{
	margin-bottom: 0px;
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #bbbbbb;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.video_data>span{
	display: inline-block;
	padding-top: 10px;
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #858585;
	box-sizing: content-box;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.right_box-top .short_time_price{
	width: 460px;
	height: 46px;
	padding: 12px 20px;
	background: #fd583f;
	color: white;
	line-height: 22px;
	font-size: 16px;
	margin-top: 5px;
}
.short_time_price .count_down{
	float: right;
}
.count_down span{
	font-size: 14px;
	font-weight: 400;
}
.short_time_price .count_down>span:nth-of-type(5) i{
	padding: 5px;
    background-color: #393c3b;
}

.video_price_bar{

	width: 100%;
	height: 66px;
	line-height: 66px;
	background: #444444;
	padding: 0px 24px;
}
.video_price_bar .price_left{
	float: left;
}
.video_price_bar .price_left>span{
	font-size: 14px;
	color: white;
	margin-right: 5px;
	float: left;
}
.video_price_bar .price_left>span:nth-of-type(1){
	
	font-weight: bold;
}
.video_price_bar .price_left>span:nth-of-type(2){
	font-size: 26px;
	color: #fc583d;
	margin-left: 5px;
}
.video_price_bar .price_left>del{
	float: left;
	font-size: 14px;
	color: #BBBBBB;
	margin-left: 5px;
}

.video_price_bar>span{
	float: right;
	font-size: 14px;
	color: #BBBBBB;
}


.right_box .right_box_bottom{
	width: 460px;
	height: 252px;
	overflow: hidden;
	overflow-y: auto;
	padding: 0px 24px;
}

.right_box_bottom .video_length_bar{
	width: 100%;
	height: 20px;
	margin-top: 8px;
}
.video_length_bar span{
	float: right;
	font-size: 14px;
	color: #BBBBBB;
}

.right_box_bottom .buy_video{
	width: 100%;
	height: 40px;
	margin-top: 35px;
}

.buy_video a{
	display: inline-block;
	width: 125px;
	height: 40px;
	border: 1px solid transparent;
	border-radius: 4px;
	float: left;
	position: relative;
}
.buy_video a:nth-of-type(1){
	background-color: #ee564f;
	border: 1px solid #ee564f;
	font-size: 16px;
	line-height: 38px;
	text-align: center;
	color: white;
}
.buy_video a:nth-of-type(1):hover{
	background-color: #ff725b;
	border: 1px solid #ff725b;
}

.buy_video a:nth-of-type(2){
	border: 1px solid #28b28b;
	font-size: 16px;
	line-height: 38px;
	text-align: center;
	color: #28b28b;
	margin-left: 10px;
}
.buy_video a:nth-of-type(2):hover{
	border: 1px solid #4adeb4;
	color: #4adeb4;
}

.buy_video a:nth-of-type(3){
	float: right;
	width: 30px;
	height: 30px;
}
.buy_video a:nth-of-type(3) i{
	position: absolute;
	top: 8px;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../img/course_detail/iconpic-shoppingcart.png) no-repeat center/20px auto;
}
.right_box_bottom .video_info_title{
	width: 100%;
	height: 45px;
	padding: 10px 0px 5px;
	box-sizing: border-box;
	border-bottom: 1px solid #676767;
}
.video_info_title span{
	font-size: 14px;
	color: white;
	line-height: 30px;
}
.right_box_bottom .video_detail_info{
	width: 100%;
	height: 106px;
}
.right_box_bottom .video_detail_info li{
	padding-top: 8px;
}
.right_box_bottom .video_detail_info li img{
	width: 160px;
	height: 90px;
	border: 2px solid #28b82b;
	float: left;
}
.right_box_bottom .video_detail_info li a{
	float: left;
	margin-left: 10px;
	color: #28B28B;
}
.nav_bar{
	width: 100%;
	height: 55px;
	background: #303332;
}
.nav_bar .nav_container{
	width: 1200px;
	height: 55px;
	margin: 0px auto;
}
.nav_bar .nav_container ul{
	height: 55px;
	list-style: none;
	margin-bottom: 0px;
	float: left;
}
.nav_bar .nav_container ul li{
	float: left;
	width: 110px;
	height: 53px;
	line-height: 53px;
	border-bottom: 2px solid transparent;
	font-size: 18px;
	color: white;
	cursor: pointer;
	text-align: center;
}

.nav_bar .nav_container ul li>a{
	color: white;
	text-decoration: none;
	
}
.nav_bar .nav_container ul li:nth-of-type(1){
	border-bottom: 2px solid #fc583d;
}
.nav_bar .nav_container ul li:nth-of-type(1)>a{
	color: #fc583d;
}
.nav_bar .nav_container>a{
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 16px;
	color: white;
	float: right;
	padding: 0px 20px;
	background: #28B28B;
	border: 1px solid #28B28B;
	margin-top: 7px;
	border-radius: 4px;
}
.nav_bar .nav_container>a:hover{
	background: #4adeb4;
	border: 1px solid #4adeb4;
}

.nav_bar .nav_container>a>i{
	position: relative;
	top: 4px;
	width: 21px;
	height: 17px;
	display: inline-block;
	background: url(../img/course_detail/iconpic-message.png) no-repeat center/21px auto;
}
.nav_bar .nav_container>.buy_video{
	display: none;
	float: right;
	height: 50px;
	padding-top: 8px;
}


section{
	width: 1200px;
	margin: 40px auto 80px;
	padding: 0px 10px;
}

.course_overview{
	
}

section .course_overview .content_left{
	width: 860px;
	height: 100%;
	float: left;
	
	position: relative;
}
.content_left:nth-of-type(2){
	display: none;
}


/*课程概述*/
.course_overview .content_left .notice{
	width: 100%;
	height: 20px;
	font-size: 14px;
	color: #fc583d;
	position: absolute;
	top: -30px;
	
}
.course_overview .content_left .notice>i{
	position: absolute;
	top: 3px;
	width: 18px;
	height: 15px;
	display: inline-block;
	background: url(../img/course_detail/notice.png) no-repeat center/18px auto;
}
.course_overview .content_left .notice ul{
	list-style: none;
	margin-left: 26px;
}
.course_overview .content_left .notice ul li{
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.course_overview .content_left .course_intro{
	width: 100%;
	padding: 20px;
	margin-bottom: 20px;
	background: white;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
}
.course_overview .content_left .course_intro p{
	margin: 0px;
	font-size: 18px;
}
.course_overview .content_left .course_intro p a{
	color: rgb(0, 176, 240);
	text-decoration: underline;
}
.course_overview .content_left .course_intro p>img{
	width: 100%;
}
.course_overview .content_left .course_intro p:nth-of-type(1)>img{
	width: 149px;
	height: 141px;
	float: left;
}
.course_overview .content_left .course_intro p:nth-of-type(2) span:nth-of-type(1){
	color: #ff0000;
}
.course_overview .content_left .course_intro p:nth-of-type(2) span:nth-of-type(4){
	color: #ff0000;
}
.course_overview .content_left .course_intro p:nth-of-type(2) span:nth-of-type(5){
	color: #ff0000;
}
.course_overview .content_left .course_intro p:nth-of-type(2) span:nth-of-type(7){
	color: #ff0000;
}
.course_overview .content_left .course_intro p:nth-of-type(2) span:nth-of-type(8){
	color: #ff0000;
}

.course_overview .content_left .course_intro p:nth-of-type(4) span:nth-of-type(1){
	color: #ff0000;
}
.course_overview .content_left .course_intro p:nth-of-type(4) span:nth-of-type(3){
	color: #ff0000;
}



/*课程目录*/
.content_left .course_menu{
	width: 100%;
	margin-bottom: 20px;
	border-radius: 5px;
}
.content_left .course_menu>p{
	margin-bottom: 0px;
	padding-left: 30px;
	height: 56px;
	line-height: 56px;
	color: #262626;
	font-size: 18px;
	font-weight: 700;
	background: white;
	border-bottom: solid 1px #f2f2f2;
}
.content_left .course_menu ul{
	list-style: none;
	margin-bottom: 0px;
}
.content_left .course_menu ul li{
	width: 100%;
	color: #666666;
	height: 60px;
	line-height: 60px;
	background: white;
	border-bottom: 1px solid #f2f2f2;
	padding-left: 20px;
	font-size: 16px;
	position: relative;
}
.content_left .course_menu ul li:first-child>b{
	font-weight: bold;
}
.content_left .course_menu ul li>a>i{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/course_detail/iconpic-play-S.png) no-repeat center/16px auto;
	vertical-align: sub;
}
.content_left .course_menu ul li:nth-of-type(5)>a>i{
	background: url(../img/course_detail/iconpic-live-S.png) no-repeat center/16px auto;
}
.content_left .course_menu ul li:nth-of-type(6)>a>i{
	background: url(../img/course_detail/iconpic-live-S.png) no-repeat center/16px auto;
}
.content_left .course_menu ul li>a>span{
	color: #666666;
	font-size: 14px;
}
.content_left .course_menu ul li>a>span:nth-of-type(2){
	position: absolute;
	right: 20px;
	
}

.content_left .course_menu ul li>a>span:nth-of-type(2)>i{
	display: inline-block;
	padding: 1px 10px;
	margin-right: 10px;
	color: #999999;
}
.content_left .course_menu ul li>a>span:nth-of-type(2)>button{
	display: none;
	height: 30px;
	background: #28B28B;
	padding: 3px 8px;
	font-size: 14px;
	text-align: center;
	color: white;
	line-height: 22px;
	font-weight: 400;
	vertical-align: middle;
	border-radius: 4px;
	border: 1px solid #28B28B;
	
}
.content_left .course_menu ul li:hover{
	background: #F9F9F9;
}
.content_left .course_menu ul li:hover a>span:nth-of-type(2)>i{
	display: none;
}
.content_left .course_menu ul li:hover a>span:nth-of-type(2)>button{
	display: inline-block;
	
}

.content_left .course_menu ul li>a>span:nth-of-type(2)>button:hover{
	background: #4adeb4;
}



.content_left .course_menu ul li>a>img{
	margin-left: 6px;
}



section .course_overview .content_right{
	width: 300px;
	height: 100%;
	float: right;
}

.content_right .begin_info,.teacher_info,.other_course_info,.student_dynamic_info{
	margin-bottom: 20px;
	border-radius: 2px;
	background: white;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
}

/*课程咨询模块*/
.content_left .ask_info{
	margin-bottom: 20px;
	border-radius: 2px;
	background: white;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
}

.ask_info .ask_ul{
	list-style: none;
	margin-bottom: 0px;
	padding: 20px 0px;
}
.ask_info .ask_ul>li{
	margin-bottom: 40px;
}
.ask_info .ask_ul>li:last-child{
	margin-bottom: 0px;
}
.ask_info .ask_ul li p{
	margin: 8px 0px 14px 22px;
	font-size: 14px;
	color: #666666;
}




.panel_header{
	width: 100%;
	height: 56px;
	line-height: 56px;
	padding: 0px 20px;
	border-bottom: 1px solid #ebebeb;
	position: relative;
}
.panel_header>i{
	position: absolute;
	top: 19px;
	display: inline-block;
	width: 4px;
	height: 18px;
	border-radius: 4px;
	background: #28b18a;
}
.panel_header>p{
	margin-bottom: 0px;
	padding-left: 10px;
	font-size: 18px;
	line-height: 56px;
	height: 56px;
	color: #262626;
	font-weight: bold;
}
.panel_body{
	position: relative;
	padding: 0px 20px;
}
.ask_info .panel_body{
	padding: 0px 20px 30px;
}
.panel_body .course_list{
	padding-top: 20px;
	padding-bottom: 10px;
}
.panel_body .list_item{
	width: 100%;
	padding-bottom: 15px;
	position: relative;
	margin-bottom: 30px;
}
.panel_body .list_item>i{
	display: inline-block;
	position: absolute;
	width: 0px;
	height: 20px;
	border-left: 1px solid #EBEBEB;
	top: 18px;
	left: 7px;
}
.panel_body .list_item>.list_dt{
	font-size: 14px;
	color: #666666;
	padding-bottom: 4px;
}
.panel_body .list_item>.list_dt>i{
	position: relative;
	top: 3px;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/course_detail/iconpic-course.png) no-repeat center/12px auto;
}

.panel_body .list_item>.list_dd{
	font-size: 14px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 20px;
	position: relative;
}
.panel_body .list_item>.list_dd>i{
	display: inline-block;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: #28b18a;
	position: absolute;
	top: 13px;
	left: 6px;
}
.panel_body .list_item>.list_dd>a:nth-of-type(1){
	width: 150px;
	height: 20px;
	color: #28B18A;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	margin-right: 0px;
}
.panel_body .list_item>.list_dd>a:nth-of-type(2){
	position: absolute;
	top: 3px;
	right: 0px;
	text-align: right;
	color: #fc573d;
}

.panel_body .teacher_info_list{
	padding-top: 20px;
}

.panel_body .QQhelp{
	display: inline-block;
	width: 160px;
	height: 40px;
	line-height: 40px;
	background: #fc583d;
	border-radius: 2px;
	font-size: 16px;
	color: white;
	text-align: center;
	margin-left: 20px;
}
.panel_body .QQhelp>i{
	display: inline-block;
	width: 18px;
	height: 19px;
	background: url(../img/course_detail/sprite-icon.png) no-repeat;
	background-position: -49px -95px;
	vertical-align: -4px;
	margin-right: 8px;
}
.teacher_info_list ul{
	list-style: none;
	
}
.teacher_info_list>ul li{
	float: left;
	width: 120px;
	margin-right: 20px;
}
.teacher_info_list>ul li:nth-of-type(2){
	margin-right: 0px;
}

.teacher_info_list>ul li .teacher_pic_box{
	text-align: center;
}
.teacher_info_list>ul li .teacher_pic_box>a>img{
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.teacher_info_list>ul li .teacher_name_box{
	width: 100%;
	padding-top: 13px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.teacher_info_list>ul li .teacher_name_box a{
	color: #262626;
}
.teacher_info_list>ul li .teacher_name_box a:hover{
	color: #28B28B;
}

.teacher_info_list>ul li .teacher_dec_box{
	width: 100%;
	font-size: 12px;
	color: #666666;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.teacher_info_list>ul li .teacher_dec_box a{
	color: #666666;
}

.info_line{
	width: 100%;
	height: 0px;
	line-height: 0px;
	border-bottom: solid 1px #F4F4F4;
	margin: 20px 0px;
}
.sub_title{
	font-size: 14px;
}
.other_course{
	list-style: none;
	margin-bottom: 0px;
}
.other_course>li{
	float: left;
	width: 122px;
	height: 100px;
	margin-top: 15px;
	margin-right: 15px;
}
.other_course>li:nth-of-type(2n){
	margin-right: 0px;
}
.other_course>li:hover>p{
	color: red;
}
.other_course>li>a>img{
	width: 122px;
	height: 69px;
}

.other_course>li>p{
	font-size: 12px;
	color: #666666;
	margin-bottom: 0px;
	margin-top: 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.student_dynamic{
	list-style: none;
	margin-bottom: 0px;
	padding-bottom: 20px;
}

.student_dynamic li{
	width: 100%;
	margin-top: 20px;
	line-height: 21px;
	position: relative;
}
.student_dynamic li>a>img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	float: left;
	position: absolute;
	top: 0px;
	left: 0px;
	
}
.student_dynamic li .student_info>p{
	width: 100%;
	padding-left: 40px;
	padding-right: 50px;
	margin-bottom: 0px;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.student_dynamic li .student_info>p>a{
	color: #666666;
}
.student_dynamic li .student_info>p>a>span{
	font-size: 12px;
}
.student_dynamic li .student_info>p:nth-of-type(1)>a>span:nth-of-type(1){
	color: #28B28B;
	margin-right: 10px;
}
.student_dynamic li .student_info>p:nth-of-type(1)>a>span:nth-of-type(2){
	color: #999999;
}

.student_dynamic li .student_info>p:nth-of-type(2)>a>span{
	position: absolute;
	bottom: 0px;
	right: 0px;
}

footer{
	width: 100%;
	height: 248px;
	background: #282828;
	margin-top: 40px;
}

footer .footer_center{
	width: 1200px;
	height: 239px;
	margin: 0px auto;
}
footer .footer_center .center_top{
	padding: 25px 0px;
}


/*关于我们的ul*/
.center_top .footer_nav{
	list-style: none;
	margin-bottom: 0px;
	width: 200px;
	float: left;
}

.center_top .footer_nav>li{
	width: 100px;
	height: 20px;
	float: left;
	margin-bottom: 8px;
}
.center_top .footer_nav>li>a{
	color: #9B9B9B;
}
.center_top .footer_nav>li>a:hover{
	text-decoration: underline;
}

/*关注的ul*/
.center_top .guanzhu{
	list-style: none;
	margin-bottom: 0px;
	margin-left: 305px;
	float: left;
}
.center_top .guanzhu>li{
	float: left;
	width: 24px;
	height: 24px;
	text-align: center;
	margin-right: 10px;
	position: relative;
	
}
.center_top .guanzhu>li:nth-of-type(1)>a>i{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../img/course_detail/iconpic-footer-gogoup.png) no-repeat center/13px auto;
}

.center_top .guanzhu>li:nth-of-type(1)>a>span{
	width: 124px;
	height: 142px;
	display: none;
	background: url(../img/course_detail/gogoup-2code3.png) no-repeat center/124px auto;
	position: absolute;
	bottom: 30px;
	left: -55px;
}
.center_top .guanzhu>li:nth-of-type(1):hover a>span{
	display: inline-block;
}
.center_top .guanzhu>li:nth-of-type(1):hover a>i{
	background: url(../img/course_detail/iconpic-footer-gogoup-hover.png) no-repeat center/13px auto;
}

.center_top .guanzhu>li:nth-of-type(3)>a>i{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../img/course_detail/iconpic-footer-weixin.png) no-repeat center/24px auto;
}

.center_top .guanzhu>li:nth-of-type(3)>a>span{
	width: 124px;
	height: 142px;
	display: none;
	background: url(../img/course_detail/weixin-2code-2.png) no-repeat center/124px auto;
	position: absolute;
	bottom: 30px;
	left: -55px;
}

.center_top .guanzhu>li:nth-of-type(3):hover a>span{
	display: inline-block;
}
.center_top .guanzhu>li:nth-of-type(3):hover a>i{
	background: url(../img/course_detail/iconpic-footer-weixin-hover.png) no-repeat center/24px auto;
}
.center_top .guanzhu>li:nth-of-type(5)>a>i{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../img/course_detail/iconpic-footer-weibo.png) no-repeat center/24px auto;
}

.center_top .guanzhu>li:nth-of-type(5):hover a>i{
	background: url(../img/course_detail/iconpic-footer-weibo-hover.png) no-repeat center/24px auto;
}
.center_top .guanzhu>.footer_line{
	width: 0px;
	height: 14px;
	border-left: 1px solid #3C3C3C;
	margin-top: 5px;
	margin-right: 10px;
}


/*联系的ul*/
.center_top .footer_contact{
	float: right;
	list-style: none;
	margin-bottom: 0px;
	width: 230px;
}
.footer_contact>li{
	height: 20px;
	line-height: 20px;
	margin-bottom: 8px;
	font-size: 14px;
	color: #9B9B9B;
}
.footer_contact>li:nth-of-type(2) span:first-child{
	float: left;
}
.footer_contact>li:nth-of-type(2) span:last-child{
	float: right;
}

.footer_contact>li:nth-of-type(3) a{
	float: left;
	color: #9B9B9B;
}
.footer_contact>li:nth-of-type(3) a:hover{
	text-decoration: underline;
}
.footer_contact>li:nth-of-type(3) span{
	float: right;
}




footer .footer_center .center_bottom{
	padding: 18px 0px;
	border-top: 1px solid #424242;
	font-size: 12px;
	color: #686869;
}
.footer_bottom_left{
	float: left;
}

.footer_bottom_left .footer_one>a{
	margin-right: 20px;
	color: #686969;
}
.footer_bottom_left .footer_one>a:hover{
	color: #28B28B;
}
.footer_bottom_left .footer_one>a>img{
	width: 12px;
	position: relative;
	top: -2px;
}
.footer_bottom_left .footer_one>span{
	margin-right: 20px;
	color: #686969;
}

.footer_bottom_left .footer_two{
	margin-top: 12px;
}
.footer_bottom_left .footer_two>span{
	margin-right: 20px;
	color: #686969;
}
.footer_bottom_right{
	float: right;
}


@media (max-width:980px) {
	.header_right{
		display: none;
	}
	header{
		padding: 0% 6% 0% 25%;
	}
}

@media (max-width:1280px) {
	aside{
		display: none;
	}
}